.bg-meuModelo{
    background-color: #89043D;   /*https://coolors.co/b2abf2-0c1b33-7a306c-03cea4-89043d*/
}


.btn-meuModelo {
    color: #fff;
    background-color: #89043D;
    border-color: #89043D;
}

