<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Blog</title>
	<link rel="stylesheet" href="~/estilos/meuEstilo.css"/>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <!--Cabeçalho-->
        <div class="container"> <!--esse container usa parte da largura da página-->
			<div class="row">
				<div class="col-lg-12">
					<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
						<div class="d-flex flex-grow-1">
							<span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
							<a class="navbar-brand" href="#">
								<h1>Blog</h1>
							</a>
						</div>
						<div class="collapse navbar-collapse flex-grow-1 text-right">
							<ul class="navbar-nav ml-auto flex-nowrap">
								<li class="nav-item">
									<a href="#" class="nav-link">Home</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link">Postagens</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link">Categoria</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link">Sobre</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>	
        </div>

        <div class="container-fluid"> <!--esse container usa 100% da largura da página-->
            <div style="background-color:#7A306C;height:100px"> </div> <!--Será subtituído por imagem posteriormente-->
        </div>
    </header>
    <main style="padding-top:20px;"><!--para separar um pouco o corpo do cabeçalho-->
    <!--Conteúdo principal-->
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer>
    <!--Rodapé-->
        <div class="container">
            Rodapé
        </div>
    </footer>
</body>
</html>
