<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <!--Cabeçalho-->
        <div class="container"> <!--esse container usa parte da largura da página-->
            <div class="row">
                <div class="col-12 col-sm-4">
                    <h1>Blog</h1>
                </div>
                <div class="col-12 col-sm-8">
                    <nav>
                        <a href="">Home</a>
                        <a href="">Categorias</a>
                        <a href="">Postagens</a>
                        <a href="">Sobre</a>
                    </nav>
                </div>

            </div>
        </div>

        <div class="container-fluid"> <!--esse container usa 100% da largura da página-->
            <div style="background:#f37a2a;height:100px"> </div> <!--Será subtituído por imagem posteriormente-->
        </div>
    </header>
    <main style="padding-top:20px;"><!--para separar um pouco o corpo do cabeçalho-->
    <!--Conteúdo principal-->
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer>
    <!--Rodapé-->
        <div class="container">
            Rodapé
        </div>
    </footer>
</body>
</html>
